{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
  <div class="portfolio-content">
    <div class="portfolio-banner">
      <h1>{{ title }}</h1>
      <hr>
    </div>
    <a href="http://www.mce123.com" target="_blank"><img src="{% static 'images/portfolio1.jpg' %}" width="800" height="427"></a>
    <br /><br >
    <a href="http://www.patrickmcelhiney.com" target="_blank"><img src="{% static 'images/portfolio2.jpg' %}" width="800" height="427"></a>
    <br /><br >
    <a href="http://www.joeparksgarden.org" target="_blank"><img src="{% static 'images/portfolio3.jpg' %}" width="800" height="427"></a>
  </div>
{% endblock %}
