{% extends 'base.html' %}

{% block content %}
  <div class="resume-content">
    <div class="resume-banner">
      <h1>Patrick R. McElhiney's Resume</h1>
      <hr>
    </div>
<p><strong>PROFILE</strong></p>
<p>A highly self-motivated individual with strong leadership skills in business and marketing management, with expert level skills in information technology.</p>
<p><strong>QUALIFICATIONS SUMMARY</strong></p>
{% if qualification %}
	{% for qual in qualification %}
		<ul><b>{{qual.qual_type}}</b><br />
			<ul>
				{{qual.description|linebreaksbr}}<br />
			</ul>
		</ul>
	{% endfor %}
{% else %}
	<ul>No Qualifications Defined!</ul>
{% endif %}

</ul>
<p><strong>EMPLOYMENT HISTORY</strong></p>
{% if experience %}
	{% for work in experience %}
		<ul><b>{{work.title}}</b>, {{work.location}} ({{work.start_date|date:"M-Y"}}-{{work.end_date|date:"M-Y"}})<br />
			<ul>
				{{work.description|linebreaksbr}}<br />
			</ul>
		</ul>
	{% endfor %}
{% else %}
	<ul>No Experience Defined!</ul>
{% endif %}

<p><strong>EDUCATION</strong></p>
{% if education %}
	{% for school in education %}
		<ul><b>{{school.institution_name}}</b>, {{school.location}}<br />
		Degree: {{school.degree}}<br />
		Major: {{school.major}}, GPA: {{school.gpa}}
		</ul>
	{% endfor %}
{% else %}
	<ul>No Education Defined!</ul>
{% endif %}
<p><strong>OTHER TECHNICAL CERTIFICATIONS</strong></p>
{% if certification %}
	{% for cert in certification %}
		<ul><b>{{cert.name}}</b> ({{cert.date_obtained|date:"Y"}}) {% if cert.status %}<i>[{{cert.status}}]</i>{% endif %}<br />
		</ul>
	{% endfor %}
{% else %}
	<ul>No Certifications Defined!</ul>
{% endif %}

  </div>
{% endblock %}
