{% extends 'base.html' %}

{% block content %}
  <div class="resume-content">
    <div class="resume-banner">
      <h1>Patrick R. McElhiney's Resume</h1>
      <hr>
    </div>
<p><strong>PROFILE</strong></p>
<p>A highly self-motivated individual with strong leadership skills in business and marketing management, with expert level skills in information technology.</p>
<p><strong>QUALIFICATIONS SUMMARY</strong></p>
<ul>
<li>Currently a full-time Master’s student at UNH Manchester, majoring in Information Technology (IT) with a 4.0 GPA.</li>
<li>Graduating with honors in September 2018.</li>
<li>Management experience with MCE123SM and Staples® in the field of Information Technology.</li>
<li>Ability to keep IT department profitable and staffed with the correct employees.</li>
<li>Nearly twenty years of experience in IT, including both Software Development and Hardware Implementations.</li>
<li>Experienced Programmer in Python, Java, C#, PHP, Perl, JavaScript, jQuery, HTML/CSS.</li>
<li>Familiar with Windows, Mac, Linux, and UNIX Operating Systems.</li>
<li>Server Administration Experience, including with Amazon Web Services (AWS).</li>
<li>Eight years of experience in the R&D industry with MCE123SM Technology Development.</li>
<li>Background in Intellectual Property Law.</li>
</ul>
<p><strong>EMPLOYMENT HISTORY</strong></p>
<ul><strong>MCE123SM, Company Founder, Barrington, NH (1999-current)</strong>
<ul>
<li>Formed and managed 13 organizational departments</li>
<li>Provided contract IT services, including software design and development, server administration, on-site computer and network consulting with MCE123SM Information Technology</li>
<li>Developed over 1,000 unique technology concepts for inventions with MCE123SM Technology Development, including in the fields of artificial intelligence, information technology, and robotics</li>
<li>Provided contract Marketing services, including marketing and strategic planning, website design, marketing material production, digital printing, and search engine optimization with MCE123SM Marketing</li>
</ul>
</ul>
<ul>
<strong>Staples®, Manager of Technology Services, Newington, NH (2016-2017)</strong>
<ul>
<li>Managed entire EasyTech department in Newington, NH store (#0176)</li>
</ul>
</ul>
<ul><strong>Staples®, Tech Services Supervisor, Newington, NH (2015-2016)</strong>
<ul>
<li>Performed computer repair services in-store and on-site</li>
<li>Achieved over $50,000 in sales, including in ESP, Tech, Omni, and Retail</li>
<li>Supervised EasyTechTM staff including technicians and sales associates</li>
</ul>
</ul>
<p><strong>EDUCATION</strong></p>
<ul>
University of New Hampshire, Manchester, NH (2016-2018)<br />
M.S. Information Technology
<br /><br />
University of New Hampshire Law School, Concord, NH (2010)<br />
Intellectual Property Law Courses
<br /><br />
Daniel Webster College, Nashua, NH (2008-2010)<br />
B.S. Marketing Management
<br /><br />
McIntosh College, Dover, NH (2007-2008)<br />
A.S. Business Management
<br /><br />
Modesto Junior College, Modesto, CA (2003-2004)<br />
Business Administration Courses
<br /><br />
Merced College, Merced CA (2001-2004)<br />
Computer Science Courses<br />
CompTIA® A+ Certification Course<br />
Adobe® Web Design Certification Course<br />
Cisco® CCNA Certification Courses (1-4)<br />
Cisco® CCNP Certification Courses (5-8)<br />
<br />
</ul>
<p><strong>OTHER TECHNICAL CERTIFICATIONS</strong></p>
<ul>
Staples Certified Computer Technician (2015)<br /><br />
Microsoft Certified Professional #6983472 (Active)<br /><br />
</ul>


  </div>
{% endblock %}
